@model Player

@{
    ViewData["Title"] = "Editar Jogador";
}

<main>
    <section class="container-grid cadastro-equipes">
        <form class="frm-cad-equipe" method="post" action='@Url.Action("Update")' >
            <div class="cadequipe-titulo">
                <h1>Atualização de Jogadores</h1>
                <hr>
            </div>
            
            <input type="hidden" name="Id" value="@ViewBag.Player.Id">
            <input class="campo-entrada" name="Name" type="text" id="nome-jogador" value="@ViewBag.Player.Name">
            <input class="campo-entrada" name="Email" type="email" id="email-jogador" value="@ViewBag.Player.Email">
            <input class="campo-entrada" name="Password" type="password" id="senha" value="@ViewBag.Player.Password">

            <select class="campo-entrada" name="Team" id="equipe-select" value="@ViewBag.Player.TeamId">
                @foreach (Team team in ViewBag.Teams)
                {
                    @if (team.Id == ViewBag.Player.TeamId)
                    {
                        <option value="@team.Id" selected>@team.Name</option>
                    } 
                    else
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                }
            </select>

            <button type="submit">Cadastrar</button>
        </form>
    </section>
</main>

@* <form method="post" action='@Url.Action("Update")'>
    <input type="hidden" name="Id" value="@ViewBag.Player.Id">

    <label for="">Nome:</label>
    <input type="text" name="Name" value="@ViewBag.Player.Name">

    <label for="">E-mail:</label>
    <input type="text" name="Email" value="@ViewBag.Player.Email">

    <label for="">Senha:</label>
    <input type="password" name="Password" value="@ViewBag.Player.Password">

    <label for="">Equipe:</label>
    <select name="Team" value="@ViewBag.Player.TeamId">
        @foreach (Team team in ViewBag.Teams)
        {
            @if (team.Id == ViewBag.Player.TeamId)
            {
                <option value="@team.Id" selected>@team.Name</option>
            } 
            else
            {
                <option value="@team.Id">@team.Name</option>
            }
        }
    </select>

    <button type="submit">Atualizar</button>
</form> *@